.adCardContainer {
  border-radius: 8px;
  border: 1px solid lightgray;
  color: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.adCardLink {
  text-decoration: inherit;
  color: inherit;
}
.adCardImage {
  width: 100%;
  border-radius: 8px;
}
.adCardText {
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.adCardTitle {
  font-weight: bold;
}
.button {
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ffa41b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #ffa41b;
  background-color: white;
  cursor: pointer;
}
.button:hover {
  cursor: pointer;
}
